<article class="card">
	<header class="card-title">{% block card_title %}{% endblock %}</header>

	<div class="card-image-container">{% block card_image_container %}{% endblock %}</div>

	<section class="card-body">{% block card_body %}{% endblock %}</section>

	<footer class="card-footer">{% block card_footer %}{% endblock %}</footer>
</article>
