<article class="card">
	<div class="title">{% block card_title %}{% endblock %}</div>

	<div class="card-image-container">{% block card_image_container %}{% endblock %}</div>

	<div class="card-body">{% block card_body %}{% endblock %}</div>

	<div class="card-footer">{% block card_footer %}{% endblock %}</div>
</article>
