<form action="." method="POST">
	{% for item in hidden %}
		<input type="hidden" name="{{ item.name }}" value="{{ item.value }}">
	{% endfor %}

	{% for field in fields %}
		{% include 'components/form_field.twig' %}
	{% endfor %}

	<div>
		<input type="submit" name="action" value="{{ button_value }}">
	</div>

	{% if form_error is defined and form_error is not empty %}
		<p class="error">{{ form_error }}</p>
	{% endif %}
</form>
