<form action="." method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        {% if username_error is not empty %}
            <span class="error">{{ username_error|e }}</span>
        {% endif %}
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        {% if password_error is not empty %}
            <span class="error">{{ password_error|e }}</span>
        {% endif %}
    </div>

    <div>
        <label for="confirmation_password">Confirm Password:</label>
        <input type="password" name="confirmation_password" id="confirmation_password">
        {% if confirmation_password_error is not empty %}
            <span class="error">{{ confirmation_password_error|e }}</span>
        {% endif %}
    </div>

    <div>
        <input type="submit" name="action" value="Register">
    </div>
</form>