{% extends "shared/generic.twig" %}

{% block title 'Rent-A-Dad :: Unauthorized' %}

{% block content %}
	<h2>401 Unauthorized</h2>

	<p>You need to be logged in to access this page.</p>
{% endblock %}
