<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% block styles %}
			<link rel="stylesheet" href="./view/styles/generic.css">
		{% endblock %}

		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		<header>
			{% block header %}
				<h1>Rent-A-Dad</h1>
			{% endblock %}

			{% include 'shared/navigation.twig' %}

			{% if session.is_valid_user %}
				<div>You are currently logged in as {{ session.username|e }}.</div>
			{% endif %}
			
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
		<footer>{% include 'shared/footer.twig' %}</footer>
	</body>

</html>
