.card {
    min-width: min-content;
    max-width: max-content;
    padding: 0.5rem;
    border: thin solid gray;
    border-radius: 12px;
    box-shadow: 2px 2px 2px #cccccc;
    margin: 1rem;
    background-color: whitesmoke;
}

.card-title {
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 10px;
}

.card * {
    background-color: whitesmoke;
}

.card>*,
.card-body>* {
    margin-bottom: 10px;
}

.card table {
    border-collapse: collapse;
}

.card table th,
.card table td {
    border: thin solid gray;
}

.card th {
    font-weight: normal;
}

.submit-button {
    font-size: large;
}