#page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.error {
    color: red;
}

table {
    border-collapse: collapse;
}

table th, table td {
    border: thin solid lightslategray;
    padding: 0.5rem;
}