{% extends 'shared/generic.twig' %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="./view/styles/card.css">
{% endblock %}

{% block title 'Rent-A-Dad :: Dad Selection' %}

{% block content %}
    <h2>Dad Selection</h2>

    <div class="selection">
        {% if dads is defined and dads is not empty %}
            {% for dad in dads %}
                {% include 'components/dad_card.twig' %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
