{% extends "shared/generic.twig" %}

{% block title 'Rent-A-Dad :: Login' %}

{% block content %}
	<h2>Login</h2>
	{% set button_value = 'Login' %}
	{% include('components/form.twig') %}
{% endblock %}
