{% extends "shared/generic.twig" %}

{% block title 'Rent-A-Dad :: Create an Account' %}

{% block content %}
    <h2>Create an Account</h2>
    {% include('./components/registration_form.twig') %}
{% endblock %}