{% extends 'shared/generic.twig' %}

{% block title 'Rent-A-Dad :: Create an Account' %}

{% block content %}
	<h2>Create an Account</h2>
    {% set button_value = 'Register' %}
	{% include('components/form.twig') %}
{% endblock %}
